* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: font;
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
  /* Colors  */
  --black: #1b1a1a;
  --accent: #f9150d;
  --text: #9c9c9c;
  --gray: #f7f7f7;
  --white: #ffffff;

  /* Generated Colors  */
  --baby-powder: #f6faf6ff;
  --forest-green: #2c8f14ff;
  --forest-green-2: #419331ff;
  --mint-cream: #f3fef5ff;
  --midnight-blue: #29216aff;
  --off-red-rgb: #f21e15ff;

  /* Custom Variable  */
  --mainWidth: 80%;
}

a {
  text-decoration: none;
}

body {
  font-family: font;
  position: relative;
}

/* Formational Wrapper */
.formational__wrapper {
  width: 100%;
  padding: 0.5rem 0;
  background: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

/* Formational Container */
.formational__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: var(--mainWidth);
  height: auto;
}

.formational__container svg {
  width: 12px;
  fill: snow;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

/* Formational Social  */
.formational__social {
  display: flex;
  list-style: none;
  gap: 0.7rem;
}

.formational__social li {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.formational__social li:hover {
  color: var(--off-red-rgb);
  filter: brightness(1.2);
}

.formational__social li:hover > svg {
  fill: var(--off-red-rgb);
}

/* Formational Text */
.formational__text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.formational__text:hover {
  color: var(--off-red-rgb);
}

.formational__text:hover > svg {
  fill: var(--off-red-rgb);
}

/* Navbar Wrapper  */
.navbar__wrapper {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Navbar Container  */
.navbar__container {
  width: var(--mainWidth);
  height: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Brand  */
.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: -2.5px;
  color: var(--midnight-blue);
  transition: all 0.2s ease-in-out;
}

.navbar__brand:hover {
  transform: scale(1.1);
}

/* brand Image  */
.brand__img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Navbar  */

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar li {
  font-size: 14px;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
}

.navbar li.active {
  padding: 1.7rem 0 1.7rem 0;
  box-shadow: inset 0 -3px var(--off-red-rgb);
}

.navbar li:hover {
  box-shadow: inset 0 -3px var(--off-red-rgb);
  padding: 1.7rem 0 1.7rem 0;
}

.navbar li:nth-child(6) {
  box-shadow: none;
  padding: 0;
}

.navbar li a {
  color: var(--midnight-blue);
  padding: 1.7rem 0 1.7rem 0;
  transition: all 0.1s ease-in-out;
}

.navbar li a.active {
  color: var(--off-red-rgb);
}

.navbar li a:hover {
  color: var(--off-red-rgb);
}

/* Btn  */
.btn {
  color: snow;
  cursor: pointer;
  border-radius: 2px;
  background: var(--midnight-blue);
  padding: 0.6rem 2.5rem;
  letter-spacing: 2px;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  filter: brightness(0.6);
}

/* Menu Wrapper  */
.menu__wrapper {
  display: none;
  justify-content: center;
  align-items: center;
}

/* Menu Icon  */
.menu__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--midnight-blue);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu__icon:hover {
  fill: var(--off-red-rgb);
}

/* Mobile Menu Wrapper  */
.mobile__menu__wrapper {
  display: none;
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 0.4);
}

/* Mobile Menu Container  */
.mobile__menu__container {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100vh;
  background: var(--midnight-blue);
}

/* Mobile Navbar  */
.mobile__navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 3rem 0 0 0;
  gap: 2.5rem;
  z-index: 1;
}

.mobile__navbar li {
  color: var(--midnight-blue);
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.mobile__navbar li:hover {
  transform: scale(1.5);
}

.mobile__navbar li a {
  color: snow;
  padding: 0.5rem 0;
}

.mobile__navbar li a:hover {
  color: var(--off-red-rgb);
}

/* Mobile Navbar Btn  */
.mobile__navbar .btn {
  background: snow;
  color: var(--midnight-blue);
}

/* Mobile Menu CLose  */
.mobile__menu__close {
  width: 100%;
  height: 3rem;
  /* background: red; */

  display: flex;
  justify-content: flex-end;
  align-self: center;
}

/* Close Menu Icon  */
.close__menu__icon {
  width: 2rem;
  height: 2rem;
  padding: 1.5rem 3.5rem 0 0;
  fill: snow;
  cursor: pointer;
}

.close__menu__icon:hover {
  fill: var(--off-red-rgb);
}

/* Header Wrapper  */
.header__wrapper {
  width: 100%;
  height: 650px;

  position: relative;
}

/* Header Containers  */
.header__containers {
  width: 100%;
  height: 100%;
}

/* Header Container  */
.header__container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Header Container Image  */
.header__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header Content Wrapper */
.header__content__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Content  */
.header__content {
  width: var(--mainWidth);
  height: auto;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Highlights  */
.highlight {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: white;
  padding: 0 0 1rem 0;
  display: none;
}

/* Header Title  */
.header__title {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -5.5px;
  color: snow;
  animation: changeColor 15s ease-in-out infinite;
}

@keyframes changeColor {
  0% {
    transform: scale(1.2);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.header__title span {
  color: snow;
  animation: changeColor 10s ease-in-out infinite;
}

/* Header Details  */
.header__details {
  text-align: center;
  width: 75%;
  font-size: 1rem;
  line-height: 1.5rem;
  color: snow;
  padding: 1.5rem 0;
  opacity: 0.6;
}

/* Header Buttons Container  */
.header__buttons__container {
  display: flex;
  gap: 1rem;
}

.header__buttons__container .btn {
  margin: 0;
  width: 180px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header__buttons__container .btn:nth-child(1) {
  background: white;
  color: var(--midnight-blue);
}

/* Header Controls Wrapper  */
.header__controls__wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.control:hover {
  background: rgb(255 255 255 / 0.05);
}

.control svg {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.control svg path {
  stroke: snow;
  padding: 1rem;
}

.control svg path:hover {
  stroke: var(--midnight-blue);
}

.control:hover > svg path {
  stroke: var(--midnight-blue);
}

/* Header Active Slide Wrapper  */
.header__active__slide__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.active__slide {
  width: 1rem;
  cursor: pointer;
  fill: var(--mint-cream);
}

.activated {
  fill: var(--midnight-blue);
}

/* About Us Wrapper  */
.about__us__wrapper {
  width: 100%;
  height: auto;
  padding: 5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Us Container  */
.about__us__container {
  width: var(--mainWidth);
  height: auto;

  display: grid;
  grid-template-columns: 1.2fr 2fr;
  gap: 2rem;
}

/* About Us Content Wrapper */
.about__us__image__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* About Us Content Container */
.about__us__content__container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* About Typo  */
.highlights {
  font-size: 12px;
  font-weight: bold;
  color: var(--off-red-rgb);
}

.about__header {
  padding: 1rem 0;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -3.5px;
  line-height: 3.5rem;
  color: var(--midnight-blue);
}

.about__content__text {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 2rem;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(0 0 0 / 0.7);
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: justify;
}

/* About Items  */
.about__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__item {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.about__item:hover {
  opacity: 0.7;
}

.about__item__icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.about__item__icon svg {
  width: 1rem;
  height: 1rem;
  padding: 0.3rem 0 0 0;
  fill: var(--off-red-rgb);
}

.about__item__header {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--midnight-blue);
}

.about__item__text {
  font-size: 14px;
  font-weight: 100;
  color: rgb(0 0 0 / 0.7);
}

.about__us__wrapper__buttons__container {
  padding: 1.5rem 0 0 0;
  display: flex;
}

.about__us__wrapper__buttons__container .btn {
  width: 180px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
}

/* About US Image Container */
.about__us__image__container {
  position: relative;
  width: 90%;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

/* About Image  */
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  filter: brightness(0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.about__img:hover {
  transform: scale(1.2);
}

/* About Us Banner */
.about__us_banner {
  position: absolute;
  bottom: 20%;
  right: 0px;
  background: var(--midnight-blue);

  width: 200px;
  height: 200px;

  color: snow;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  text-align: center;
  letter-spacing: -2.5px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.about__us_banner:hover {
  filter: brightness(0.8);
}

.about__us_banner:hover > .about__img {
  transform: scale(1.2);
}

/* Services Wrapper  */
.services__wrapper {
  width: 100%;
  padding: 3rem 0 2rem 0;
  height: auto;
  background: var(--baby-powder);

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Services Header  */
.services__header {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  letter-spacing: -2.5px;
  color: var(--midnight-blue);
}

/* Services Text  */
.services__text {
  padding: 1rem 0;
  width: 60%;
  text-align: center;
  font-weight: 300;
  color: rgb(0 0 0 / 0.7);
  cursor: pointer;
  padding: 2rem 0 1rem 0;
}

/* Services Grid  */
.services {
  width: var(--mainWidth);
  height: 100%;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0 2rem 0;
}

/* Service  */
.service {
  width: 100%;
  height: 350px;
  background: snow;
  border-radius: 2px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  outline: hidden;
}

/* Services Content  */
.service__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

}

.service__content:hover {
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);

}

/* Service Icon Wrapper  */
.service__icon__wrapper {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service Icon  */
.service__icon {
  width: 6rem;
  height: 6rem;
  background: snow;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.service__icon_i {
  fill: var(--midnight-blue);
  width: 3rem;
  transition: all 0.2s ease-in-out;
}

.service__icon:hover {
  background: var(--midnight-blue);
}

.service__icon:hover > .service__icon_i {
  fill: snow;
}

.service__content:hover .service__icon_i {
  fill: snow;
}

.service__content:hover .service__icon {
  background: var(--midnight-blue);
}

/* Service Title  */
.service__title {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: var(--midnight-blue);
  transition: all .3s ease-in-out;
}

.service__content:hover .service__title {
  transform: scale(1.1);
}

/* Service Text */
.service__text {
  width: 85%;
  text-align: center;
  font-weight: 100;
  color: rgb(0 0 0 / 0.4);
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: all .3s ease-in-out;
}

.service__content:hover .service__text {
  color: var(--midnight-blue);
  opacity: .5;
  transform: scale(1.1);
}

/* Services Button  */
.services__button {
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__button .btn {
  margin: 0;
}

@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .menu__wrapper {
    display: flex;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__details {
    width: 90%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 1.5rem 0;
  }
}

@media (max-width: 1150px) {
  .services {
    width: var(--mainWidth);
    height: 100%;
  
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0 2rem 0;
  }
  .service__content  {
    padding: 1rem 0;
  }
  .service {
    height: auto;
  }
  .service:nth-child(3) {
    grid-column: span 2;
  }
  .navbar__container {
    width: 85%;
  }
  .navbar__brand {
    font-size: 1.3rem;
  }
  .navbar li {
    font-size: 12px;
    padding: 2rem 0 2rem 0;
  }

  .navbar li.active {
    padding: 1.8rem 0 1.8rem 0;
  }
  .about__us__container {
    width: var(--mainWidth);
    height: auto;

    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
  }

  .about__content__text {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about__items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .about__header {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .about__text {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .about__item__icon svg {
    width: 0.8rem;
    height: 0.8rem;
  }

  .about__item__header {
    font-size: 1rem;
  }
  .about__item__text {
    font-size: 12px;
  }

  .about__header {
    font-size: 1.8rem;
    text-align: center;
  }

  .highlights {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .header__buttons__container {
    flex-direction: column;
  }

  .header__buttons__container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    font-size: 14px;
  }

  .about__us_banner {
    position: absolute;
    bottom: -15%;
    right: 0;
    background: var(--midnight-blue);

    width: 50px;
    height: 100px;

    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    text-align: center;
    letter-spacing: -2.5px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }

  .about__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Media Queries  */
@media (max-width: 750px) {
  .services__text {
    width: 80%;
  }
  .services {
    width: var(--mainWidth);
    height: 100%;
  
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 2rem 0 2rem 0;
  }
  .service__text {
    font-size: .7rem;
  }
  .service:nth-child(3) {
    grid-column: span 1;
  }
  .header__wrapper {
    width: 100%;
    height: 550px;

    position: relative;
  }
  .formational__container {
    justify-content: center;
  }
  .formational__social {
    justify-content: space-between;
    width: 100%;
  }
  .formational__text {
    display: none;
  }

  .mobile__menu__container {
    width: 85%;
  }

  .navbar__brand {
    gap: 1rem;
  }

  .header__title {
    font-size: 3rem;
  }

  .header__details {
    width: 95%;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 1.5rem 0;
  }

  .header__buttons__container .btn {
    margin: 0;
    width: 150px;
    height: 50px;
    padding: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .header__controls__wrapper {
    top: 60%;
  }
}

@media (max-width: 850px) {
  .about__us__container {
    width: var(--mainWidth);
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .about__us__image__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__us_banner {
    position: absolute;
    bottom: -15%;
    right: 0;
    background: var(--midnight-blue);

    width: 200px;
    height: 100px;

    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    text-align: center;
    letter-spacing: -2.5px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }

  .about__us__wrapper__buttons__container {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__item__text {
    text-align: center;
  }

  .about__item__header {
    text-align: center;
  }

  .about__item__icon {
    visibility: hidden;
  }

  .about__text {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header__buttons__container {
    flex-direction: column;
  }

  .header__buttons__container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-size: 12px;
  }

  .about__us_banner {
    position: absolute;
    bottom: -15%;
    right: 0;
    background: var(--midnight-blue);

    width: 150px;
    height: 75px;

    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    text-align: center;
    letter-spacing: -2.5px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }

  .highlights {
    text-align: center;
    padding: 0;
  }
  .about__header {
    padding: 0 0 1rem 0;
  }

  .services__button {
    padding: 2rem 0 0 0;
  }

  .about__item__text {
    text-align: left;
  }

  .about__item__header {
    text-align: left;
  }

  .about__item__icon {
    visibility: visible;
  }

  .about__text {
    text-align: center;
  }

  .about__items {
    display: none;
  }
}

@media (max-width: 450px) {
  .formational__container {
    width: 90%;
  }
  .formational__social {
    justify-content: space-evenly;
    gap: 0.2rem;
  }
  .formational__social li {
    font-size: 10px;
  }

  .navbar__brand:hover {
    transform: scale(1);
  }

  .header__title {
    font-size: 2rem;
    letter-spacing: -2.5px;
  }
  .header__details {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 1.5rem 0;
  }

  .close__menu__icon {
    width: 1.8rem;
    height: 1.8rem;
    padding: 1.5rem 2.5rem 0 0;
    fill: snow;
    cursor: pointer;
  }

  .header__wrapper {
    width: 100%;
    height: 500px;

    position: relative;
  }
}

@media (max-width: 385px) {
  .navbar__brand {
    justify-content: space-between;
    font-size: 1.2rem;
    letter-spacing: -2px;
    gap: 0.4rem;
    text-align: center;
  }

  .mobile__menu__container {
    width: 80%;
  }
}
